version: '3.9'

services:
  nginx:
    image: spokerv2-nginx-prod
    build: ./nginx
    ports:
      - "3200:80"
    depends_on:
      - frontend
      - backend

  frontend:
    image: spokerv2-frontend-prod
    build: ./frontend
    expose:
      - "80"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

  backend:
    image: spokerv2-backend-prod
    build: ./backend
    expose:
      - "5001"
    environment:
      - NODE_ENV=production
      - DB_URI=mongodb://db:27017/ecommerce
    depends_on:
      - db

  db:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
