/* You can add global styles to this file, and also import other style files */
html {
        font-size: 62.5%; /* Sets 1rem to 1rem for easier calculation */
}

:root {
    background-color: rgb(48, 47, 47);
    color: white;
}

