/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%; /* Sets 1rem to 1rem for easier calculation */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    background-color: rgb(48, 47, 47);
    color: white;
}

.site-footer {
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
